header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
    color: aliceblue;
}
nav{
    background-color: black;
    color: beige;
}
section{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
article{
    background-color: aqua;
    grid-column:1/4 ;

}
aside{
    background-color: beige;
    padding: 30PX;
    grid-column:4/5 ;
}
footer{
    background-color: black;
    color: beige;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }